.dialogs__message-list {
  border-left: 1px solid #fff;
  margin: 0;
  padding: 0 20px 0 40px;
  list-style-type: none;
  overflow-y: auto;
  height: calc(100vh - 170px);
  position: sticky;
  top: 0;
}

.dialogs__send-message {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px;
}

.dialogs__input {
  width: 90%;
  padding: 10px;
  min-height: 40px;
  resize: none;
  box-sizing: border-box;
  border-radius: 10px;
}

.dialogs__input:focus {
  border-color: transparent;
  outline: none;
}

.dialogs__send-button {
  font-size: 30px;
  font-weight: bold;
  width: 9%;
  border: none;
  border-radius: 10px;
}

.dialogs__send-button:focus {
  outline: none;
}
