.dialogs__message-item {
  display: grid;
  grid-column-gap: 10px;
  align-items: end;
  grid-template-areas: 'a t';
  grid-template-columns: 40px minmax(min-content, max-content);
}

.dialogs__message-item_from {
  grid-template-areas: 't a';
  grid-template-columns: minmax(min-content, max-content) 40px;
  justify-content: end;
}

.dialogs__message-item_from .dialogs__message-text {
  background: transparent;
}

.dialogs__message-avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: 100% 100%;
  border-radius: 100%;
  grid-area: a;
  margin: 16px 0;
}

.dialogs__message-text {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  word-break: break-all;
  grid-area: t;
  background: rgba(255, 255, 255, .3);
}
