.dialogs__item {
    margin: 0 0 6px;
    min-height: 25px;
}

.dialogs__item:last-child {
    margin: 0;
}

.dialogs__name {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.dialogs__name.active {
    font-size: 20px;
    border-bottom: 2px solid #fff;
    margin-left: 10px;
    transition: .1s margin linear;
}

.dialogs__name:hover {
  color: #C0C0C0;
}