.profile__cover {
    background: url(../../../images/cover.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    margin: 0 0 20px;
}

.profile__user {
    display: flex;
    min-height: 300px;
}

.profile__avatar {
    background: url(../../../images/avatar.jpg);
    min-width: 200px;
    height: auto;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 20px 0 0;
}

.profile__item {
    margin: 0 0 18px 0;
}

.profile__item:last-child {
    margin: 0;
}

.profile__link {
    color: #fff;
}